// Specific CSS for your home-page
.carousel-inner img {
  height: 400px;
  object-fit: cover;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // grid-gap: 0;
  flex-grow: 1;
  background: linear-gradient(black, lightgray);
  border: rgb(197, 50, 50) solid 0.2em;
  max-width: 200vh;
}

.card {
  background: linear-gradient(lightyellow, yellow);
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 3em;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align:center;
  color: black;
  text-shadow: 0 0 10px #ebe5e5b3;
}

.card-img-top {
  border-radius: 2em;
}
