.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(lightgray, gray);
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
}

.nav-item:not(:last-child) {
  box-shadow: 10px 0px 0px -9px red;
}

.nav-link {
  font-weight: bolder;
}
