<p>Seja bem vindo! <%= @email %>!</p>

<p>Você pode confirmar sua conta com e-mail, ao clicar no seguinte link:</p>

<p><%= link_to 'Confirmar criação de minha conta', confirmation_url(@resource, confirmation_token: @token) %></p>
