<p>Olá, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Notificamos que seu e-mail está sendo alterado para: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Notificamos que seu e-mail foi alterado para: <%= @resource.email %>.</p>
<% end %>
