<p>Olá, <%= @resource.email %>!</p>

<p>Alguém requisitou alteração de sua senha. Para prosseguir, clique no link a seguir.</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou alteração de senha, favor desconsiderar este email.</p>
<p>Sua senha não será alterada até que você acesse o link anterior e crie nova senha.</p>
