<p>Olá! <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada após dversas tentativas de login sem sucesso.</p>

<p>Clique no link anterior para desbloquear:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
