<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-11">

      <h1>Criar Novo Produto</h1>

      <%= render 'form', product: @product %>
      <div class="btn btn-dark">
        <%= link_to 'Retornar', products_path %>
      </div>
    </div>
  </div>
</div>
