// .card img {
//   display: inline-block;
//   width: 300px;
// }

// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
//   grid-gap: 1em;
//   flex-grow: 1;
//   background: linear-gradient(black, blue);
//   border: red solid 1em;
//   max-width: 200vh;
// }

// .card {
//   background: linear-gradient(yellow, lightyellow);
//   background-size: cover;
//   background-position: center;
//   height:auto;
//   border-radius: 3em;
//   box-shadow: 0 0 10px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   text-align:center;
//   color: black;
//   text-shadow: 0 0 10px #ebe5e5b3;
// }

.image-box {
  width: 100px;
  height: 100px;
}
.image-box img {
  width: 100%;
  height: auto;
  text-align: center;
}
